---
---

@import "{{ site.theme }}";

// Переопределение основного цвета фона темы Slate на светло-серый
body {
  background: #f0f0f0; // Светло-серый цвет
  color: #333333; // Убедимся, что текст достаточно темный
  font-size: smaller !important;
}

// Дополнительные настройки для читаемости контента
.wrapper {
  background: #ffffff; // Фон для основного контента (белый)
  padding: 30px;
  border: 1px solid #cccccc; // Легкая граница вокруг контента
}
